/*Modifies entire page. May not be visible when embedded. Set this to the same value as .calandar background!*/
html
{ height: 100%; }

body
{
	height: 100%;
}

/*
 * Color pallet:
 * Background: #eee
 * Heading: #999;
 * Light: #bbb;
 * Bolded: #aaa;
*/

/*Color quickmod*/
.important-txt-color
{ color: white; }

.primary-txt-color
{ color: #aaa; }

.secondary-txt-color
{ color: #bbb; }

.primary-background-color
{ background: #eee; }

.secondary-background-color
{ background: #ccc; }

.sidebar-background-color
{ background: #eee; }

.full-width
{
	display: flex;
	width: 100%;
}

/*Modifies the container that seperates the calandar from the rest of the page; Set your background color here!*/
.calandar
{
	display: flex;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	flex-wrap: wrap;
}

/*This div contains the month navigation bar and the name of the calandar.*/
.calandar_header
{
	height: fit-content;
	text-align: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

/*This modifies the top calandar bar. Modify the background of the calandar name here.*/
.calandar_navbar
{
	background: linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(255,147,0,1) 100%);
	border-radius: 21px;
}

/*The calandar name tag. For adjusting the name of the calandar, modify the HTML instead.*/
.calandar_name
{
	text-align: center;
	justify-content: center;
	margin: auto;
	position: relative;
	right: 1rem;
}

/*Modifies the container for the current month text and the forward and reverse month buttons.*/
.month_navbar
{
	display: flex;
	flex-flow: row;
	justify-content: center;
}

/*Modifies the header with the current month name.*/
.month
{
	display: inline-flex;
	width: 50%;
	justify-content: center;
	text-align: center;
}

/*Modifies the "next month" button, by default the ">" button.*/
.month_forward
{
	cursor: pointer;
	display: inline-flex;
	width: 25%;
	padding-left: 25%;
	text-align: left;
}

/*Modifies the "previous month" button, by default the "<" button.*/
.month_backward
{
	cursor: pointer;
	display: inline-flex;
	width: 25%;
	padding-right: 25%;
	text-align: right;
}

/*The container that holds the body of the calandar.*/
.calandar_body
{
	display: flex;
	flex-direction: row;
}

/*The list that holds all of the days of the month.*/
.calandar_days
{
	padding-left: 0px;
	counter-reset: daycounter;
	list-style-type: none;
	justify-content: center;
	flex-wrap: wrap;
}

/*Modifier for the day elements. For the day number, see .calandar_days > li:before. For the day of the week, see .day_tag.*/
.calandar_days > li
{
	display: flex;
	border: 2px solid #ddd;
	width: 24%;
}

/*The number of the day of the week seen on each day in the calandar.*/
.calandar_days > li:before
{
	display: flex;
	position: relative;
	counter-increment: daycounter;
	content: counter(daycounter) "";
	height: 20%;
}

/*Modifies the day of the week shown on each day in the calandar.*/
.day_tag
{
	cursor: pointer;
	display: inline-flex;
	width: 98%;
    	justify-content: center;
}

.calandar_version
{
	justify-content: right;
}

.sidebar_btn
{
	display: inline-flex;
	cursor: pointer;
	margin-left: 1rem;
	color: white;
	font-size: 24px;
	z-index: 1;
}

.sidebar
{
	display: flex;
	position: absolute;
	top: 36px;
	z-index: 2;
	width: 0%;
	height: 100%;
	flex-flow: column;
	overflow: hidden;
}

#sidebar_main_menu
{
	display: flex;
	flex-flow: column;
	overflow: hidden;
	height: 100%;
}

#sidebar_themes_menu
{
	display: none;
	flex-flow: column;
	overflow: hidden;
	height: 100%;
}

.sidebar_link
{
	cursor: pointer;
	padding: 8px;
}

.sidebar_submenu
{
	display: none;
}

.day_list
{
	height: 100%;
	flex-flow: column;
	padding: 0px;
	align-items: center;
	justify-content: center;
}

/*Inside day_info. List of tasks, info, etc.*/
.day_list > li
{
	display: none;
	flex-wrap: wrap;
	width: 100%;
	border: 2px solid #ddd;
	border-bottom: 0px;
}

.day_lt_no
{
	display: inline-flex;
	width: 2%;
}

.day_longtag
{
	display: inline-flex;
	width: 95%;
	justify-content: center;
}

.day_task
{
	border-right: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	justify-content: center;
	background: linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(255,147,0,1) 100%);
}

#create_dial_main
{
	display: flex;
	width: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;
	align-self: center;
	z-index: 10; /*This should override any other on-screen activity under all circumstances.*/
	visibility: hidden;
}

.dialog_box
{
	display: flex;
	min-width: 25%;
	max-width: 0%; /*85%*/
	min-height: 25%;
	flex-wrap: wrap;
	flex-direction: column;
	position: static;
	z-index: 10;
	border: 2px solid;
	border-radius: 21px;
	overflow: hidden;
}

.dialog_box_title
{
	color: black;
	justify-content: center;
	border-bottom: 2px solid black;
	padding-top: 8px;
	padding-bottom: 8px;
	position: relative;
	top: -2rem;
	height: fit-content;
	padding-bottom: 0px;
}

.dialog_box_desc
{
	text-align: center;
	justify-content: center;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 4px;
	padding-right: 4px;
}

.dialog_content_main
{
	flex-wrap: wrap;
}

.dialog_input
{
	justify-content: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

.dialog_btn
{
	cursor: pointer;
	width: fit-content;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
}

.dialog_box_exit
{
	cursor: pointer;
	position: relative;
	right: 1rem;
	justify-content: right;
	font-size: 20px;
	padding: 2px;
	z-index: 2; /*Dialog boxes and menus are 1.*/
}

#about_db
{
	display: flex;
	justify-content: center;
	width: 100%;
	align-self: center;
	position: absolute;
	z-index: 10;
	visibility: hidden;
}

/*Animations*/
@keyframes sidebar_open
{
	from
	{
		visibility: visible;
		width: 0%;
	}
	to
	{
		width: 20%;
	}
}

@keyframes sidebar_close
{
	from
	{
		width: 20%;
	}
	to
	{
		visibility: hidden;
		width: 0%;
	}
}

@keyframes pack_calnavbar
{
	from
	{ border-radius: 24px 24px 24px 0px; }
	to
	{ border-radius: 24px 24px 24px 24px; }
}

@keyframes unpack_calnavbar
{
	from
	{ border-radius: 24px 24px 24px 24px; }
	to
	{ border-radius: 24px 24px 24px 0px; }
}

@keyframes open_dialogbox
{
	from
	{
		min-width: 0%;
		max-width: 0%;
	}
	to
	{
		min-width: 25%;
		max-width: 85%;
	}
}

@keyframes close_dialogbox
{
	from
	{
		min-width: 25%;
		max-width: 85%;
		display: flex;
	}
	to
	{
		min-width: 0%;
		max-width: 0%;
		display: none;
	}
}

@keyframes disappear
{
	from
	{ visibility: visible; }
	to
	{ visibility: hidden; }
}
