/*Modifies entire page. May not be visible when embedded. Set this to the same value as .calandar background!*/
html
{
	height: 100%;
	background: #eeeeee;
}

body
{
	height: 100%;
}

/*
 * Color pallet:
 * Background: #eee
 * Heading: #999;
 * Light: #bbb;
 * Bolded: #aaa;
*/

/*Color quickmod*/
.important-txt-color
{ color: white; }

.primary-txt-color
{ color: #aaa; }

.secondary-txt-color
{ color: #bbb; }



.full-width
{
	display: flex;
	width: 100%;
}

/*Modifies the container that seperates the calandar from the rest of the page; Set your background color here!*/
.calandar
{
	display: flex;
	height: 100%;
	font-family: 'Courier New', monospace;
	font-weight: bold;
	flex-wrap: wrap;
}

/*This div contains the month navigation bar and the name of the calandar.*/
.calandar_header
{
	height: fit-content;
	text-align: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

/*This modifies the top calandar bar. Modify the background of the calandar name here.*/
.calandar_navbar
{
	background: linear-gradient(0deg, rgba(255,72,0,1) 0%, rgba(255,147,0,1) 100%);
	border-radius: 21px; 
}

/*The calandar name tag. For adjusting the name of the calandar, modify the HTML instead.*/
.calandar_name
{
	text-align: center;
	color: #FFFFFF;
	justify-content: center;
	margin: auto;
	position: relative;
	right: 1rem;
}

/*Modifies the container for the current month text and the forward and reverse month buttons.*/
.month_navbar
{
	display: flex;
	flex-flow: row;
	justify-content: center;
}

/*Modifies the header with the current month name.*/
.month
{
	display: inline-flex;
	width: 50%;
	justify-content: center;
	text-align: center;
}

/*Modifies the "next month" button, by default the ">" button.*/
.month_forward
{
	display: inline-flex;
	width: 25%;
	padding-left: 25%;
	text-align: left;
	color: #bbb;
}

/*Modifies the "previous month" button, by default the "<" button.*/
.month_backward
{
	display: inline-flex;
	width: 25%;
	padding-right: 25%;
	text-align: right;
	color: #bbb;
}

/*The container that holds the body of the calandar.*/
.calandar_body
{
	display: flex;
	flex-direction: row;
}

/*The list that holds all of the days of the month.*/
.calandar_days
{
	padding-left: 0px;
	counter-reset: daycounter;
	list-style-type: none;
	justify-content: center;
	flex-wrap: wrap;
}

/*Modifier for the day elements. For the day number, see .calandar_days > li:before. For the day of the week, see .day_tag.*/
.calandar_days > li
{
	display: flex;
	border: 2px solid #ddd;
	width: 24%;
	max-height: 50%;
}

/*The number of the day of the week seen on each day in the calandar.*/
.calandar_days > li:before
{
	display: flex;
	position: relative;
	counter-increment: daycounter;
	content: counter(daycounter) "";
	height: 20%;
}

/*Modifies the day of the week shown on each day in the calandar.*/
.day_tag
{
	display: inline-flex;
	width: 98%;
    	justify-content: center;
}

.calandar_version
{
	justify-content: right;
}

.sidebar_btn
{
	display: inline-flex;
	margin-left: 1rem;
	color: white;
	font-size: 24px;
	z-index: 1;
}

#sidebar_main, .sidebar
{
	display: flex;
	position: absolute;
	top: 36px;
	z-index: 2;
	background-color: white;
	width: 0%;
	height: 100%;
}

.day_list
{
	height: 100%;
	flex-flow: column;
	padding: 0px;
	align-items: center;
	justify-content: center;
}

/*Inside day_info. List of tasks, info, etc.*/
.day_list > li
{
	display: flex;
	width: 100%;
	height: 20px;
	border: 2px solid #ddd;
}

/*Animations*/
@keyframes sidebar_open
{
	from
	{ width: 0%; }
	to
	{ width: 20%; }
}

@keyframes sidebar_close
{
	from
	{ width: 20%; }
	to
	{ width: 0%; }
}

@keyframes pack_calnavbar
{
	from
	{ border-radius: 24px 24px 24px 0px; }
	to
	{ border-radius: 24px 24px 24px 24px; }
}

@keyframes unpack_calnavbar
{
	from
	{ border-radius: 24px 24px 24px 24px; }
	to
	{ border-radius: 24px 24px 24px 0px; }
}
