.primary-background-color, .secondary-background-color
{
	background: black;
}

.calandar_navbar
{
	background: linear-gradient(0deg, rgb(255, 0, 45) 60%, rgb(249, 38, 74) 81%);
	/*box-shadow: 0px 0px 8px black inset;*/
	text-shadow: 4px 0px 2px black;
}

.primary-txt-color, .secondary-txt-color, .important-txt-color
{
	color: #08CBCE;
}

.calandar_days > li
{
	border-color: #F9264A;
	box-shadow: 0px 0px 8px #FC5C77;
}

#sidebar_main, .sidebar
{
	/*background-color: #F9264A;*/
	box-shadow: 0px 0px 8px inset;
	background: linear-gradient(0deg, rgba(249,38,74,1) 60%, rgba(255,0,45,1) 81%);
}

.sidebar > span
{
	text-shadow: 4px 0px 2px black;
}

.dialog_box
{
	border: 2px solid #08CBCE;
}

.dialog_input
{
	color: #08CBCE;
}

.dialog_input > input
{
	background: black;
	color: #08CBCE;
	border: 2px solid #FC5C77;
}

.dialog_btn
{
	color: #FC5C77;
	border: 2px solid #FC5C77;
}
