/*Based on Gray 50 Material Design 2014 standards.*/

.primary-background-color
{
	background: #212121;
}

.important-txt-color
{
	color: #BDBDBD;
}

.primary-txt-color
{
	color: #757575;
}

.secondary-txt-color
{
	color: #9E9E9E;
}

.calandar_navbar
{
	background: #424242; /*~42, 42, 564!~*/
}

.calandar_days > li
{
	border: 2px solid #424242;
}

#sidebar_main, .sidebar
{
	background: #424242;
}

.dialog_input > input
{
	background: #424242;
}
