html
{
	background-color: black;
}

.calandar
{
	background-color: black;
}

.calandar_navbar
{
	background: #F9264A;
	text-shadow: 4px 0px 2px black;
}

.primary-txt-color, .secondary-txt-color, .important-txt-color
{
	color: #08CBCE;
}

.calandar_days > li
{
	border-color: #F9264A;
	box-shadow: 0px 0px 8px #FC5C77;
}

#sidebar_main, .sidebar
{
	background-color: #F9264A;
}
